{% extends "data.html.twig" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Table Department</h1>
        <form method="post" action="http://localhost/homework_4/index.php/department/{{ action }}{% if action != 'create' %}/{{ depart_id }}{% endif %}">
            <div class="row">
                <label for="d_name">Department Name:</label>
                <input type="hidden" id="depart_id" name="depart_id" value="{{ depart_id }}">
                <input class="form-control" type="text" id="d_name" name="d_name" value="{{ d_name }}">
            </div>
            <div class="row">
                <label for="city">University_ID:</label>
                <select name="univer_id" id="univer_id">
                    {% for result in resultsDataUniversity %}
                        <option value="{{ result.id }}" {% if result.id == univer_id %} selected {% endif %}>{{ result.univer_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <input class="btn btn-default" type="submit" value="{{ action }}">
            </div>
        </form>
    </div>
{% endblock %}
