{% extends "data.html.twig" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Table Teacher</h1>
        <form method="post" action="http://localhost/homework_4/teacher/{{ action }}{% if action != 'create' %}/{{ th_id }}{% endif %}">
            <div class="row">
                <label for="first_name">First Name:</label>
                <input type="hidden" id="th_id" name="th_id" value="{{ th_id }}">
                <input class="form-control" type="text" id="first_name" name="first_name" value="{{ first_name }}">
            </div>
            <div class="row">
                <label for="last_name">Last Name:</label>
                <input class="form-control" type="text" id="last_name" name="last_name" value="{{ last_name }}">
            </div>
            <div class="row">
                <label for="department_id">Department_ID:</label>
                <select name="department_id" id="department_id">
                    {% for result in resultsDataDepartment %}
                        <option value="{{ result.id }}" {% if result.id == department_id %} selected {% endif %}>{{ result.d_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <input class="btn btn-default" type="submit" value="{{ action }}">
            </div>
        </form>
    </div>
{% endblock %}
